/*div {
	display: inline-block;
	border: 1px solid white;
	width: 30px;
	height: 30px;
}

div.black {
	background-color: black;
}

div.white {
	background-color: white;
}*/

/*.box {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
}

.black-box {
	background-color: black;
	color: white;
}

.white-box {
	background-color: white;
}*/